:root {
    --primary-color: rgb(255, 0, 0);
    --secondary-color: rgb(255, 255, 255);
}


html, body {
    font-size: 16px;
}


.header {
    background-color: rgba(0, 0, 0, .4);
    border: .125rem solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 42;
}
.header .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner {
    width: 100%;
    max-width: 70.5rem;
    padding-inline: 1.25rem;
    margin-inline: auto;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo .logo__img {
    width: 1.9375rem;
    height: 2.1875rem;
    margin-right: .625rem;
}
.logo .logo__text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    color: var(--secondary-color);
    font-size: 2.1875rem;
    margin-right: .3125rem;

}

.logo .logo__text.logo__text--highlight {
    color: var(--primary-color);
}
.menu {
    display: flex;
}
.menu .menu__item {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: var(--secondary-color);
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 2.0625rem;
    padding-bottom: 2.0625rem;
    display: inline-block;
    min-width: 8rem;
    text-align: center;
}
.menu .menu__item.menu__item--active, .menu .menu__item:hover {
    background-color: rgba(255, 255, 255, .2);
}


.intro {
    background: url('../images/intro-bg.png') no-repeat center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5.25rem;
}
.intro .intro__box {}
.intro .intro__box.intro__box--row {}
.intro .intro__hdl {}
.intro .intro__lead {}
.intro .intro__btn {}
