:root {
    --primary-color: rgb(255, 0, 0);
    --secondary-color: rgb(255, 255, 255);
}


html, body {
    font-size: 16px;
}

.btn {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: .875rem;
    padding: .625rem 1.875rem;
    border: .0625rem solid var(--primary-color);
    border-radius: 2.5rem;
    transition: all 400ms;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 .1875rem .375rem rgba(255, 0, 0, .3);
}

.btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: .0625rem solid var(--secondary-color);
}

.btn-large {
    font-size: 1rem;
    padding: 1.375rem 3.4375rem;
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: .0625rem solid var(--secondary-color);
}

.btn-secondary:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: .0625rem solid var(--primary-color);
}

.btn-outline {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: .0625rem solid var(--primary-color);
}

.btn-outline:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: .0625rem solid var(--secondary-color);
}


.header {
    background-color: rgba(0, 0, 0, .4);
    border: .125rem solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 42;
}

.header .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner {
    width: 100%;
    max-width: 70.5rem;
    padding-inline: 1.25rem;
    margin-inline: auto;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo .logo__img {
    width: 1.9375rem;
    height: 2.1875rem;
    margin-right: .625rem;
}

.logo .logo__text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    color: var(--secondary-color);
    font-size: 2.1875rem;
    margin-right: .3125rem;

}

.logo .logo__text.logo__text--highlight {
    color: var(--primary-color);
}

.menu {
    display: flex;
}

.menu .menu__item {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: var(--secondary-color);
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 2.0625rem;
    padding-bottom: 2.0625rem;
    display: inline-block;
    min-width: 8rem;
    text-align: center;
}

.menu .menu__item.menu__item--active, .menu .menu__item:hover {
    background-color: rgba(255, 255, 255, .2);
}


.intro {
    background: url('../images/intro-bg.png') no-repeat center;
    background-size: cover;
    min-height: 100vh;
    margin-top: -6rem;
    color: var(--secondary-color);
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
}

.intro .intro__box {
}

.intro .intro__bg {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro .intro__box.intro__box--row {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.intro .intro__hdl {
    font-weight: 900;
    font-size: 5.625rem;
    text-shadow: 0 .1875rem .375rem rgba(0, 0, 0, .25);
    margin-bottom: 2.5rem;
    margin-top: 0;
}

.intro .intro__lead {
    font-weight: 700;
    font-size: 1rem;
    max-width: 65.375rem;
    letter-spacing: 0;
    margin-bottom: 3.375rem;
    line-height: 1.375;
}

.intro .intro__btn {
}
